
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

#info {
  /* ... */
}

#gallery {
  display: grid; 
  grid-template-columns: repeat(5, auto);
  padding: 2px;
}



